@model EduOrientation

@{
    ViewData["Title"] = " ویراش گرایش رشته تحصیلی";
}
<h1 class="h3 mb-4 text-gray-800">ویرایش گرایش رشته </h1>
<div class="card shadow-sm">
    <div class="card-header">
        فرم ویرایش گرایش رشته تحصیلی
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EduOrientationId" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="StudyField" class="form-label">رشته تحصیلی</label>
                    <select asp-for="StudyField" class="form-select" asp-items="ViewBag.StudyFieldId"></select>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="EduOrientationTitle" class="form-label">گرایش رشته تحصیلی</label>
                    <input type="text" asp-for="EduOrientationTitle" class="form-control" id="position">
                    <span asp-validation-for="EduOrientationTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>
        </form>
    </div>
</div>