@model Province

@{
    ViewBag.Title = "ویرایش استان";  
}

<h1 class="h3 mb-4 text-gray-800">ویرایش استان </h1>


<div class="card shadow-sm">
    <div class="card-header">
        فرم ویرایش استان 
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="form-label">عنوان استان</label>
                    <input type="text" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>

        </form>
    </div>
</div>