@model Employee.Entities.Models.Basic.Organization

@{

    ViewBag.Title = "سازمان جدید";

}

<section class="content-header" style="padding-bottom: 25px;">

    <ol class="breadcrumb">

        <li><a href="#">مقادیر پایه</a></li>

        <li class="active">افزودن سازمان جدید</li>

    </ol>

</section>

<div class="form-horizontal">

    <section class="content">

        <div class="row">

            <div class="col-xs-12">

                <div class="box box-success">

                    <div class="box-header">

                        <h3 class="box-title">افزودن سازمان جدید</h3>

                    </div>

                    <!-- /.box-header -->

                    <div class="box-body">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">

                                <div class="col-md-2 text-left">

                                    <label asp-for="OrganizationTitle" class="control-label"></label>

                                </div>

                                <div class="col-md-6">

                                    <input asp-for="OrganizationTitle" class="form-control" />

                                    <span asp-validation-for="OrganizationTitle" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-10">

                                    <input type="submit" value="ذخیره سازمان" class="btn btn-success" />

                                    <a asp-action="Index" class="btn btn-warning">

                                        بازگشت

                                    </a>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

                <!-- /.box-body -->

            </div>

        </div>

    </section>

</div>