@model StudyField
@{
    ViewBag.Title = "ویرایش رشته تحصیلی";
}
<h1 class="h3 mb-4 text-gray-800">ویرایش رشته تحصیلی</h1>


<div class="card shadow-sm">
    <div class="card-header">
        فرم ویرایش رشته تحصیلی
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyFieldId" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="StudyFieldTitle" class="form-label">رشته تحصیلی</label>
                    <input type="text" asp-for="StudyFieldTitle" class="form-control">
                    <span asp-validation-for="StudyFieldTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>

        </form>
    </div>
</div>


