@model JobType

@{
    ViewBag.Title = "ویرایش نوع کار";
}
<h1 class="h3 mb-4 text-gray-800">ویرایش نوع کار </h1>
<div class="card shadow-sm">
    <div class="card-header">
        فرم ویرایش نوع کار 
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="JobTypeCode" class="form-label">کد نوع کار</label>
                    <input type="text" asp-for="JobTypeCode" class="form-control" id="position">
                    <span asp-validation-for="JobTypeCode" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="JobTypeTitle" class="form-label">عنوان نوع کار</label>
                    <input type="text" asp-for="JobTypeTitle" class="form-control" id="position">
                    <span asp-validation-for="JobTypeTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>


        </form>
    </div>
</div>