@model Employee.Entities.Models.Basic.SecondOrganization

@{
    ViewData["Title"] = "واحد سازمانی جدید";
}

<h1 class="h3 mb-4 text-gray-800">افزودن واحد سازمانی جدید</h1>
<div class="card shadow-sm">
    <div class="card-header">
        فرم واحد سازمانی جدید
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SecondOrganizationId" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Organization!.OrganizationTitle" class="form-label">سازمان</label>
                    <select asp-for="Organization!.OrganizationTitle" class="form-select" asp-items="ViewBag.OrganizationId"> </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="SecondOrganizationTitle" class="form-label">واحد سازمانی</label>
                    <input type="text" asp-for="SecondOrganizationTitle" class="form-control" id="position">
                    <span asp-validation-for="SecondOrganizationTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>


        </form>
    </div>
</div>