@model JobLocation

@{
    ViewBag.Title = "ویرایش محل خدمت";  
}

<h1 class="h3 mb-4 text-gray-800">ویرایش محل خدمت </h1>


<div class="card shadow-sm">
    <div class="card-header">
        فرم ویرایش محل خدمت 
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="JobLocTitle" class="form-label">عنوان محل خدمت</label>
                    <input type="text" asp-for="JobLocTitle" class="form-control">
                    <span asp-validation-for="JobLocTitle" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>

        </form>
    </div>
</div>