@model City

@{
    ViewData["Title"] = "ایجاد شهر جدید";
}

<h1 class="h3 mb-4 text-gray-800">افزودن شهر جدید</h1>
<div class="card shadow-sm">
    <div class="card-header">
        فرم افزودن شهر جدید
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ProvinceId" class="form-label">استان </label>
                    <select asp-for="ProvinceId" class="form-select" asp-items="ViewBag.ProvinceId">
                        <option selected>انتخاب کنید...</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="form-label">عوان شهر</label>
                    <input type="text" asp-for="Name" class="form-control" id="position">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle me-2"></i>ذخیره اطلاعات
            </button>
            <a asp-action="Index" class="btn btn-secondary">انصراف</a>


        </form>
    </div>
</div>
